<section class="content-header">
  <h1 style="display: inline-block;"> Product List</h1>
  <div style="float: right;">
    <button type="button" class="btn bg-gold btn-sm" (click)="addSale()"
    style="margin-right: 5px;"><i class="fa fa-plus" style="margin-right: 5px;"></i>Record Sale</button>

    <button type="button" class="btn bg-gold btn-sm" (click)="addProduct()"
    style="margin-right: 5px;"><i class="fa fa-plus" style="margin-right: 5px;"></i>Add Product</button>
  </div>
  
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12" style="text-align: center;">
      <div class="box box-top-border" >
        <div class="box-body">
          
          <div class="row">
            <div class="col-xs-12" style="overflow-x: scroll;">
              <div id="product_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
    
                <table id="product" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                  class="row-border hover display stripe" style="width: 100%;">
                  <thead>
                    <tr>
                      <th style="text-align: center;  padding: 10px 13px;">Sr No.</th>
                      <th style="text-align: center;  padding: 10px 13px;">Name</th>
                      <th style="text-align: center; padding: 10px 13px;">Quantity</th>
                      <th style="text-align: center;  padding: 10px 13px;">Units</th>
                      <th style="text-align: center;  padding: 10px 13px;">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let p of products; let i = index">
                      <td >{{ i + 1 }}</td>
                      <td>{{ p.name }}</td>
                      <td>{{ p.quantity }}</td>
                      <td>{{ p.unit }}</td>
                      <td>
                        <button type="button" class="btn bg-navy btn-xs" (click)="updateProduct(p._id)"
                          style="margin: 5px;"><i class="fa fa-edit"></i></button>
                          
                        <button type="button" class="btn btn-danger btn-xs" (click)="deleteProduct(p)"
                        style="margin: 5px"><i
                            class="fa fa-trash"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
